.nav {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav p {
    padding: 0 2rem;
    cursor: pointer;
    font-family: georgian;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    


}



.logoimage {
    padding: 4rem 0 2rem 0;
    position: absolute;
    width: 85px;
    height: 85px;
    left: calc(50% - 85px/2 - 0.5px);
   


}
#try{
    color: black;
    background-color: black;
    height: 2px;
    border: none;
    width: 70%;
}
#hrr2{
    color: black;
    background-color: black;
    height: 2px;
    border: none;
    width: 70%;
}

