.nav {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav p {
    padding: 0 2rem;
    cursor: pointer;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;


}
.attrtxt:after {
    content: '';
    position: absolute;
    width: 15%;
    transform: scaleX(0);
    height: 2px;
    
    background-color: #5ECE7B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.attrtxt:hover:after {
    
    transform: scaleX(1);
}