
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 3.2rem;
    height: 50%;
    width: 40%;
    max-width: 847px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poppupbot {
    transform: translateY(-30%);
}

.added {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    transform: translateY(-200%);

}

.inputcont {
    height: 25%;
}

.listmove {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #62A1EB;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    
}

.poppupmain {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #0089A7;
    text-align: center;
    cursor: pointer;
}
.mainp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}