.item{
    padding-top: 3rem;
    background: #ffff;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1026px;
    zoom: 1.3;
    border-radius: 30px;
}

.contt{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.itemtopleft{
    width: 50%;
    
}
.itemtopright{
    
    width: 45%;
}
.itemtopleft img{
    border-radius: 8px;
    width: 100%;
    height: 350px;
    
    
}
.item span{
    opacity: 0.6;
}
.item p{
    font-weight: 500;
}