.lapinfo {
    padding-top: 3rem;
    font-size: 38px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

}

@media only screen and (max-width: 830px) {
    .lapinfo {
        font-size: 24px;
    }

    .bccc {
        zoom: .7;
        margin-left: -7rem;
        margin-bottom: -2.4rem;
    }
}