@font-face {
  font-family: georgian;
  src: url(./components//assets/font/HelveticaNeue.ttc);
}
body{
  background: rgba(59, 59, 59, 0.294);
}
.App {
  text-align: center;
}
*{
  font-family: georgian;
}
